<header id="site-header">

  <div id="avatar-container">

    <a href="/">
      <img id="author-picture" src="{{ site.author.picture }}" class="img-rounded"/>
    </a>

    <p id="author-name">{{ site.author.name }}</p>

    <p id="author-intro" class="visible-md-block visible-lg-block">{{ site.author.description }}</p>

    {% assign current = page.url | downcase | split: '/' %}

    <nav>

        <ul id="nav" class="list-inline hidden-md hidden-lg">
            <li><a href='/about' {% if current[1] == 'about' %}class='active' {% endif %}>About</a></li>
            <li><a href='/' {% if current[1]=='index.html' %}class='active' {% endif %}>Blog</a></li>
            <li><a href='/projects' {% if current[1]=='projects' %}class='active' {% endif %}>Projects</a></li>
            <li><a href="{{ site.url }}/feed.xml" target="_blank">RSS</a></li>
            <li><a href="//github.com/{{ site.github_username }}" target="_blank">GitHub</a></li>
        </ul>

    </nav>
    <!-- responsive menu -->

  </div>
  <!-- avatar -->

  <div id="nav-container" class="visible-md-block visible-lg-block">

    <nav>

        <ul class="list-unstyled">
            <li><a href='/about' {% if current[1] == 'about' %}class='active' {% endif %}>About</a></li>
            <li><a href='/' {% if current[1]=='index.html' %}class='active' {% endif %}>Blog</a></li>
            <li><a href='/projects' {% if current[1]=='projects' %}class='active' {% endif %}>Projects</a></li>
            <li><a href="{{ site.url }}/feed.xml" target="_blank">RSS</a></li>
            <!--<li><a href="//github.com/{{ site.github_username }}" target="_blank">GitHub</a></li>-->
        </ul>

    </nav>

  </div>
    <!-- menu -->

   <footer class="visible-md-block visible-lg-block">
       <a href="//github.com/{{ site.github_username }}"><i class="fa fa-github fa-3x"></i><span class="footer-text">&nbsp;Github</span></a>
   </footer>

    <!-- footer -->

</header>
